body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: auto;
  background-color: #e9cfcf;
  flex-direction: column;
  align-items: center;
}

#header {
  background-color: #bfbed1;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.box {
  border: 5px solid #ddbbbb;
  padding: 20px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  max-width: 50%;
}

.band-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

#band-info {
  color: #000000;
  margin-left: 20px;
}

h2 {
  margin-top: 30px;
}

p,
ul,
ol {
  color: #5f5d5d;
  margin: 10px 0;
  line-height: 1.6;
}

a {
  color: #2600ff;
}